.contenedor{
    padding: 2em;
}
.contenedorTitulo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.titlePost{
    width: 90%;
    font-size: 2em;
}
.contenedorCuerpo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.bodyPost{
    text-align: justify;
    width: 90%;
    font-size: 1.2em;
}
.ultimoComentario{
    text-align: end;
}
.botonEmit{
    width: 15%;
    height: 2em;
    border: 1px #797979 solid;
    cursor: pointer;
    margin: 0.5em;
    border-radius: 2px;
    box-sizing: border-box;
}